.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

html {
  height: 100%;
}

.toDoList {
  float: left;
  margin-left: 16.66%;
}

/* Creating a grid */


/*  All these columns should be floating to the left, and have a padding of 5px */
[class*="col-"] {
  float: left;
  padding: 5px;
}

/* adding a style that clears the flow */
.row::after {
  content: "";
  clear: both;
  display: table;
}

/* Desktop Extra Large */
@media only screen and (min-width:1600){
  .col-1-xl {width: 8.33%;}
  .col-2-xl {width: 16.66%;}
  .col-3-xl {width: 25%;}
  .col-4-xl {width: 33.33%;}
  .col-5-xl {width: 41.66%;}
  .col-6-xl {width: 50%;}
  .col-7-xl {width: 58.33%;}
  .col-8-xl {width: 66.66%;}
  .col-9-xl {width: 75%;}
  .col-10-xl {width: 83.33%;}
  .col-11-xl {width: 91.66%;}
  .col-12-xl {width: 100%;}
}

/* Desktop - Large */
@media only screen and (min-width:1200){
  .col-1-l {width: 8.33%;}
  .col-2-l {width: 16.66%;}
  .col-3-l {width: 25%;}
  .col-4-l {width: 33.33%;}
  .col-5-l {width: 41.66%;}
  .col-6-l {width: 50%;}
  .col-7-l {width: 58.33%;}
  .col-8-l {width: 66.66%;}
  .col-9-l {width: 75%;}
  .col-10-l {width: 83.33%;}
  .col-11-l {width: 91.66%;}
  .col-12-l {width: 100%;}
}

/* Tablet */
@media only screen and (min-width:800px){
  .col-1-xl {width: 8.33%;}
  .col-2-xl {width: 16.66%;}
  .col-3-xl {width: 25%;}
  .col-4-xl {width: 33.33%;}
  .col-5-xl {width: 41.66%;}
  .col-6-xl {width: 50%;}
  .col-7-xl {width: 58.33%;}
  .col-8-xl {width: 66.66%;}
  .col-9-xl {width: 75%;}
  .col-10-xl {width: 83.33%;}
  .col-11-xl {width: 91.66%;}
  .col-12-xl {width: 100%;}
}

/* Mobile Phone */
@media only screen and (max-width: 640px) {
  .col-1-s {width: 8.33%;}
  .col-2-s {width: 16.66%;}
  .col-3-s {width: 25%;}
  .col-4-s {width: 33.33%;}
  .col-5-s {width: 41.66%;}
  .col-6-s {width: 50%;}
  .col-7-s {width: 58.33%;}
  .col-8-s {width: 66.66%;}
  .col-9-s {width: 75%;}
  .col-10-s {width: 83.33%;}
  .col-11-s {width: 91.66%;}
  .col-12-s {width: 100%;}
}