

.avatar {
    border-bottom: solid;
    margin-left: 0px;
}

.userAvatar {
    margin: 2px;
    border-radius: 25px;
    width: 32px;
}

.userName {
    font-size: 24px;
    margin: 1px 0px 0px 4px;
}

.userNameDiv {
    text-align: center;
}