.listItemContainer {
    padding: 10px 0px 10px 0px;
    text-align: left;
}

.icon {
    float: left;
}

.iconImg {
    margin: 2px
}

.listText {
    font-size: 36px;
    margin: 1px 0px 1px 1px;
}

button {
    background-color: transparent;
    border: 0px;
    margin: 0px;
}

button:hover {
    background-color: azure;
}

button:active {
    margin: 0px;
}