.listItemContainer {
    width: 300px;
    padding: 10px 0px 10px 0px;
    border-bottom: dotted;
}

.icon {
    float: left;
}

.iconImg {
    height: 36px;
    float: left;
    margin: 2px
}

.listText {
    font-size: 36px;
    margin: 1px;
}